/* колір oсновного тексту #212121; */
/* другорядний колір тексту rgba(0,0,0, 0.6); */
/* білий #ffffff; */
/* акцент #2196F3; */
/* другорядний колір фону #F5F5F5; */

:root {
    --primary-text-color: rgba(0,0,0, 0.6);
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --primary-fon-color: #757575;
    --fon-color: ECECEC;
}

body {
    background-color: var(--primary-white-color);
    color: var(--title-text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0,03em;
}

/* хедер */

.logo {
    text-decoration: none;
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2px;
    letter-spacing: 0.03em;
}

.header-logo-text:hover,
.header-logo-text:focus {
    color: var(--accent-color);
}

.header-logo-text {
    color: var(--title-text-color);
}

.header-navigation-ofis,
.header-navigation-portfilio,
.header-navigation-contact {
    text-decoration: none;
    cursor: pointer;
    color: currentColor;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
}

.header-navigation-ofis:hover,
.header-navigation-portfilio:hover,
.header-navigation-contact:hover {
    color: var(--accent-color);
}

.header-navigation-ofis:focus,
.header-navigation-portfilio:focus,
.header-navigation-contact:focus {
    color: var(--accent-color);
}

.header-navigation-contact-accent,
.header-navigation-contact-item {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1px;
    letter-spacing: 0.02em;
    color: var(--primary-fon-color);
}

.header-navigation-contact-accent:hover,
.header-navigation-contact-item:hover {
    color: var(--accent-color);
}

.header-navigation-contact-accent:focus,
.header-navigation-contact-item:focus {
    color: var(--accent-color);
}

/* кнопки */

.main-hero {
    background-color: #2F303A;
}

.main-hero-title {
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--primary-white-color);   
}

.main-hero-button {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    font-size: 16px;
    line-height: 1.2;
    cursor: pointer;
}

.main-hero-button:hover,
.main-hero-button:focus {
    background-color: #188CE8;
    color: var(--primary-white-color);
}

.hero-but {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;
    border-style: none;
    border-radius: 4px;
}

.hero-but:hover,
.hero-but:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

/* main */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-work-title {
font-weight: 700;
font-size: 36px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-color);
}

.comanda-title {  
font-weight: 700;
font-size: 36px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-color);

}
.quality {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.quality-details {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--primary-fon-color);
}

.comanda-one-of {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}

.position {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: var(--primary-fon-color);
}

.about-main-project {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.about-main-text {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--primary-fon-color);
}

.about-main-link {
    text-decoration: none;
}

/* footer */

.footer {
    /* padding-top: 60px;
    padding-bottom: 60px; */
    background-color: #2F303A;
}

.footer-logo-text {
   display: inline-block;
    color: var(--primary-white-color);
    font-family: 'Raleway', sans-serif;
}

.footer-logo-text:hover,
.footer-logo-text:focus {
    color: var(--accent-color);
}

.footer-address {
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
}
.footer-contact-accent,
.footer-contact-item {
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--primary-fon-color);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
